<div class="pop_wrap" id="toastRecord">
    <div class="record_wrap flex_wrap f_dc g_64 ai_c">
        <div class="flex_wrap f_dc g_16">
            <h3>개인정보 확인자 등록</h3>
            <div class="flex_wrap f_dc g_8">
                <p>안전한 개인정보 보호를 위해, 확인자의 정보를 기록합니다.</p>
                <p>동의하시고, 개인정보를 확인하시겠어요?</p>
            </div>
        </div>
        <div class="flex_wrap f_c g_8">
            <button type="button" id="btnToastRecord" class="btn_s">취소</button>
            <button type="button" id="btnToastRecordOk" class="btn_p">동의합니다</button>
        </div> 
    </div>
</div>