<section class="modal" id="p_quePermission">
	<div class="modalCon">
		<div class="chkArea row">
			<span class="chk">
				<input type="checkbox" id="permissionInfo1" name="permissionInfo" checked disabled>
				<label for="permissionInfo1">
					<span class="chkShape noLine"></span>
					<span class="chkTxt"><strong>사용자</strong><span class="chkTxtSub">대시보드, 챗봇</span></span>
				</label>
			</span>
			<span class="chk">
				<input type="checkbox" id="permissionInfo2" name="permissionInfo" checked disabled>
				<label for="permissionInfo2">
					<span class="chkShape noLine"></span>
					<span class="chkTxt"><strong>관리자</strong><span class="chkTxtSub">대시보드, 챗봇, 페르소나, 지식베이스, 통계</span></span>
				</label>
			</span>
			<span class="chk">
				<input type="checkbox" id="permissionInfo3" name="permissionInfo" checked disabled>
				<label for="permissionInfo3">
					<span class="chkShape noLine"></span>
					<span class="chkTxt"><strong>슈퍼 관리자</strong><span class="chkTxtSub">모든 메뉴 접근 가능</span></span>
				</label>
			</span>
		</div>
	</div>
</section>
<!--//권한 정보-->
