<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<!-- 캐쉬 삭제  -->
	<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<!-- 캐쉬 삭제  -->
	<title>챗봇 설정</title>
	<!------------------------------ favicon-->
	<!-- <link rel="apple-touch-icon" sizes="57x57" href="../../static/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../../static/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../../static/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../../static/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../../static/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../../static/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../../static/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../../static/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../static/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../static/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../../static/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="../../static/images/favicon//manifest.json"> 
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../../static/images/favicon//ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">-->

	<!------------------------------ css-->
	<link rel="stylesheet" href="./../../css/common.css"/>
	<link rel="stylesheet" href="./../../css/page.css"/>
</head>
<body>
	<div class="wrap">
		<header>
    <a href="javascript:;" onclick="dashboard();"><i class="logo"></i></a>
    <div class="userInfo">
        <div class="userInfoChatbot">
            <div class="gap8 m-r20">
                <i class="ico-chatbot"></i>
                <span>챗봇</span>
            </div>
            <div class="gap12">
                <button type="button" class="btn-blue500" onclick="chatbotTest(this);">테스트 챗봇</button>
                <button type="button" class="btn-gray800" onclick="chatbot(this);">운영 챗봇</button>
            </div>
        </div>
        <span class="userInfoNm">
            <span class="m-r12">
                <a href="javascript:;" class="btn-link" onclick="mypage(this);">김제주님</a> 반갑습니다.
            </span>
            <i class="ico-smile"></i>
        </span>
        <button type="button" class="btn-icon" onclick="logout();"><i class="ico-logout"></i></button>
    </div>
</header>
<!--//header-->


<script src="../../lib/jquery/jquery.min.js"></script>
	<script src="../../lib/jquery/jquery-ui.min.js"></script> 
	<script src="../../lib/jquery/moment.min.js"></script> 
	<script src="../../lib/daterangepicker/daterangepicker.min.js"></script> 
	<script src="../../lib/sortable/sortable.min.js"></script> 
	<script src="../../lib/chart/Chart.bundle.min.js"></script>
	<script src="../../lib/chart/Chart.min.js"></script>
	<script src="../../js/design.js"></script> 



		<div class="contents">
			<div class="nav">
    <ul>
        <!-- 메뉴 active : a addClass('active') -->
        <li><a href="javascript:;" onclick="dashboard();"><i></i>대시보드</a></li>
        <li>
            <a href="javascript:;"><i></i>챗봇 설정</a>
            <ul>
                <!-- 서브 메뉴 active : a addClass('on') -->
                <li><a href="javascript:;" onclick="chatbotSetting();">챗봇 설정</a></li>
                <li><a href="javascript:;" onclick="chatbotSettingTxt();">문구 설정</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i></i>페르소나</a>
            <ul>
                <!-- 서브 메뉴 active : a addClass('on') -->
                <li><a href="javascript:;" onclick="persona();" >페르소나 현황</a></li>
                <li><a href="javascript:;" onclick="personaApprove();">승인 요청 내역</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i></i>지식 베이스</a>
            <ul>
                <li><a href="javascript:;" onclick="knowledge();">지식 베이스 현황</a></li>
                <li><a href="javascript:;" onclick="knowledgeApprove();">승인 요청 내역</a></li>
                <li><a href="javascript:;" onclick="knowledgeKeyword();">키워드</a></li>
                <li><a href="javascript:;" onclick="knowledgeUnlearned();">미학습 질문</a></li>
                <li><a href="javascript:;" onclick="knowledgeIncorrect();">오답변</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i></i>통계</a>
            <ul>
                <li><a href="javascript:;" onclick="statisticsChat();">세션</a></li>
                <li><a href="javascript:;" onclick="statisticsQuestion();">질문</a></li>
                <li><a href="javascript:;" onclick="statisticsSatisfaction();">만족도 </a></li>
                <li><a href="javascript:;" onclick="statisticsKeyword();">키워드 </a></li>
                <li><a href="javascript:;" onclick="statisticsChatTotal();">채팅 내역 </a></li>
            </ul>
        </li>
        <li><a href="javascript:;" onclick="accountMng();" ><i></i>계정 관리</a></li>
    </ul>
</div>
<!--//nav-->


<script src="../../lib/jquery/jquery.min.js"></script>
	<script src="../../lib/jquery/jquery-ui.min.js"></script> 
	<script src="../../lib/jquery/moment.min.js"></script> 
	<script src="../../lib/daterangepicker/daterangepicker.min.js"></script> 
	<script src="../../lib/sortable/sortable.min.js"></script> 
	<script src="../../lib/chart/Chart.bundle.min.js"></script>
	<script src="../../lib/chart/Chart.min.js"></script>
	<script src="../../js/design.js"></script> 



			<div class="pages">
				<div class="title-page">
					<h1>채팅 내역 통계</h1>
				</div>
				<div class="search">
					<ul class="form">
						<li>
							<label>기간</label>
							<div class="ipt">
								<div class="chk txtOnly">
									<input type="radio" id="dateAll" name="dateType" checked="">
									<label for="dateAll">어제</label>
								</div>
								<div class="chk txtOnly">
									<input type="radio" id="dateToday" name="dateType">
									<label for="dateToday">오늘</label>
								</div>
							</div>
							<div class="ipt iptDate">
								<i class="ico-date"></i>
								<!-- 1일씩만 선택 가능 -->
								<a href="javascript:;" class="dateN" onclick="date(this);">날짜 선택</a>
								<span class="tag ligthOrangeLine datepicker" style="display:none;">
									<!-- 디폴트 : 날짜 적용x -->
									<input type="text" class="">
									<a href="javascript:;" class="dateDelete" onclick="dateDelete(this);"><i class="ico-close orange500"></i></a>
								</span>
							</div>
						</li>
						<li>
							<label>언어</label>
							<div class="ipt">
								<div class="chk txtOnly">
									<input type="radio" id="langAll" name="langType" checked="">
									<label for="langAll">전체 153</label>
								</div>
								<div class="chk txtOnly">
									<input type="radio" id="langKo" name="langType">
									<label for="langKo">한국어 153</label>
								</div>
								<div class="chk txtOnly">
									<input type="radio" id="langJp" name="langType">
									<label for="langJp">일본어 153</label>
								</div>
								<div class="chk txtOnly">
									<input type="radio" id="langEn" name="langType">
									<label for="langEn">영어 153</label>
								</div>
							</div>
						</li>
						<li>
							<div class="ipt">
								<input type="text" placeholder="내용 입력">
							</div>
							<button type="button" class="btn-icon" onclick="search(this);"><i class="ico-sch"></i></button>
						</li>
					</ul>
				</div>
				<!--//search-->
				<div class="tbl flexColumnInit gap24" id="tblMsg" >
					<div class="flex flexColumn flex1">
						<div class="tblTop">
							<div class="total">총 <strong>19</strong> 개</div>
							<button type="button" class="btn-l" onclick="download();"><i class="ico-download"></i>다운로드</button>
						</div>
						<div class="tblHd">
							<table>
								<colgroup>
									<col width="*"> <!--채팅일시-->
									<col width="160"> <!--질문 -->
									<col width="160"> <!--오답변 신고 수-->
									<col width="160"> <!-- 오답변율-->
								</colgroup>
								<tr>
									<th><button type="button" class="sort"><span>채팅일시</span><i class="ico-sort"></i></button></th>
									<th><button type="button" class="sort"><span>질문 수</span><i class="ico-sort"></i></button></th>
									<th><button type="button" class="sort"><span>오답변 신고 수</span><i class="ico-sort"></i></button></th>
									<th><button type="button" class="sort"><span>오답변 율</span><i class="ico-sort"></i></button></th>
								</tr>
							</table>
						</div>
						<!--//tblHd-->
						<div class="tblBody">
							<!-- empty addClass('open')-->
							<div class="empty center ">
								<i></i>
								<dl>
									<dt>검색 결과가 없습니다.</dt>
									<dd>다른 키워드로 다시 시도해 주세요.</dd>
								</dl>
							</div>
							<!--//empty-->
							<table>
								<colgroup>
									<col width="*"> <!--채팅일시-->
									<col width="160"> <!--질문 -->
									<col width="160"> <!--오답변 신고 수-->
									<col width="160"> <!-- 오답변율-->
								</colgroup>
								<!-- tr 클릭시, tr addClass('selected') -->
								<!-- 디폴트 : 첫번째 줄 활성화, 최신순 정렬 -->
								<tr class="selected">
									<td>2024.01.08 15:16:12</td>
									<td>6</td>
									<td>6</td>
									<td>20%</td>
								</tr>
								<tr>
									<td>2024.01.08 15:16:12</td>
									<td>6</td>
									<td>6</td>
									<td>20%</td>
								</tr>
							</table>
						</div>
						<!--//tblBody-->
						<div class="tblFooter">
							<div class="paging">
								<div class="prev">
									<button type="button" class="max" disabled></button>
									<button type="button" disabled></button>
								</div>
								<ul>
									<!-- 페이징 활성화 : a addClass('on') -->
									<li><a href="javascript:;" class="on">1</a></li>
									<li><a href="javascript:;">2</a></li>
									<li><a href="javascript:;">3</a></li>
									<li><a href="javascript:;">4</a></li>
								</ul>
								<div>
									<button type="button"></button>
									<button type="button" class="max"></button>
								</div>
							</div>
						</div>
						<!--//tblFooter-->
					</div>
					<div class="chatbot chatPreview defaultSet">
						<div class="chatHd"></div>
						<!--전체 채팅 보일것-->
						<div class="chatBody">
							<div class="chatUser" style="display:inline-grid;">
								<div class="bubble">
									<pre>항공권 이벤트 있나요?</pre>
								</div>
							</div>
							<!--//질문-->
							<div>
								<div class="chatProfile">
									<!-- 디폴트 : ico-chatbotDefault.svg-->
									<img src="../../images/icon/ico-chatbot.svg">
									하이제코
								</div>
								<div class="bubble">
									<pre>제주항공에서 진행중인 이벤트가 궁금하신가요? 아래의 내용을 확인해보세요!</pre>
									<div class="answerIncorrect">
										<a href="javascript:;" onclick="answerIncorrect(this);"><i></i>오답변 신고</a>
									</div>
								</div>
								<div class="bubble">
									<pre>제주항공에서 진행중인 이벤트가 궁금하신가요? 아래의 내용을 확인해보세요!</pre>
									<span class="crGray600">오답변 신고일 : 2025.03.06 15:13:12</span>
								</div>
							</div>
							<!--//답변-->
						</div>
					</div>
				</div>
				<!--//tbl, 시간별-->
			</div>
			<!--//pages-->
		</div>
		<!--//contents-->
	</div>
	<!--//wrap-->



    <!-------------------------------- popup incloude -->




    <!-------------------------------- script -->
    <script src="../../lib/jquery/jquery.min.js"></script>
	<script src="../../lib/jquery/jquery-ui.min.js"></script> 
	<script src="../../lib/jquery/moment.min.js"></script> 
	<script src="../../lib/daterangepicker/daterangepicker.min.js"></script> 
	<script src="../../lib/sortable/sortable.min.js"></script> 
	<script src="../../lib/chart/Chart.bundle.min.js"></script>
	<script src="../../lib/chart/Chart.min.js"></script>
	<script src="../../js/design.js"></script> 


</body>
</html>